
.App{
    text-align: center;
    background-color: black;
    min-height: 100vh;
}

.app-list{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}